/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Playfair Display', serif; */
/* font-family: 'Lato', sans-serif; */

/* RESETS */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0
}

/* TYPOGRAPHY */

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.95rem;
    color: white;
    text-transform: uppercase;
}

h4 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: #404040;
    letter-spacing: 1px;
    opacity: 0.9;
}

p {
    color: #404040;
    opacity: 0.9;
}

ul {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    padding: 0
}

ul a {
    text-transform: uppercase;
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
    transition: color 500ms;
}

ul a:hover {
    color: #02dbcc;
}

.we-are-awesome-section h1 {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.we-are-awesome-section p {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    opacity: 0.8;
    margin: 0;
}

/* LAYOUT */

.main-container {
    width: 70%;
    margin: 0 auto;
}

.header-and-section-container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    /* border: 1px solid magenta; */
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    position: relative;
}

.header-background-image {
    background-image: url(../img/bgk-header.png);
    height: inherit;
    width: 100vw;
    position: absolute;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: -1;
}

.header-logo-container {
    display: flex;
    align-items: center;
}

.header-logo-text {
    font-size: 1.925rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background: linear-gradient(280deg, rgba(96,85,136,1) 0%, rgba(16,168,171,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 1rem;
}

.header-menu-container {
    width: 60%;
}

.header-logo-tajam {

}

.header-menu {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

/* WE ARE AWESOME SECTION */

.we-are-awesome-section {
    width: 70%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid yellow; */
}

.we-are-awesome-section h1:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 20%; /* Change this to whatever width you want. */
    padding-top: 2rem; /* This creates some space between the element and the border. */
    border-bottom: 1px solid #02dbcc; /* This creates the border. Replace black with whatever color you want. */
}

.we-are-awesome-section p {
    margin: 2rem 0;
}

button {
    color: #02dbcc;
    background: none;
    padding: 0.75rem;
    border: 1px solid #02dbcc;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    border-radius: 2px;
    cursor: pointer;
    transition: all 500ms;
}

button:hover {
    transform: scale(1.1);
    color: #52c3c0
}

/* OUR STORY SECTION */

.our-story-section {
    display: flex;
    margin-left: 5rem;
    height: 40vh;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid blue; */
}

.our-story-section img {
    height: 220px;
}

.our-story-content {
   width: 65%;
}

.our-story-content p {
    margin: 1.75rem 0;
}

/* WATCH SECTION */

.watch-section {
    position: relative;
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    /* border: 1px solid gold; */
}

.watch-background-image {
    background-image: url(../img/bgk-middle.png);
    height: inherit;
    width: 100vw;
    position: absolute;
    background-position: center;
    background-size: cover;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.watch-play-button {
    padding-bottom: 1.5rem;
    padding-left: 0.875rem;
    transition: transform 500ms;
}
.watch-play-button:hover {
    transform: scale(1.1);
    cursor: pointer
}

/* EXPERTISE SECTION */

.expertise-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border: 1px solid green; */
   
}

.top-content-expertise h2 {
    margin-bottom: 0.3rem;
}

.top-content-expertise h4:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 20%;
    padding-top: 0.8rem;
    border-bottom: 1px solid #404040;
    opacity: 0.5;
}

.expertise-grid-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
    /* border: 1px solid pink */
}

.expertise-grid-item {
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: center;
    justify-content: center;;
}

.expertise-grid-item img {
    margin-bottom: 2rem;
}

.expertise-grid-item h3 {
    margin-bottom: 1.5rem;
    color: black
}

.expertise-grid-item p {
    width: 80%;
    font-size: 0.975rem;
    letter-spacing: 0.6px;
}

.border-right {
    border-right: 1px solid lightgrey;
}

.border-bottom {
    border-bottom: 1px solid lightgrey;
}

/* Meet the team section */

.meet-the-team-section {
    height: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border: 1px solid magenta; */
}

.meet-the-team-background-image {
    background-image: url(../img/bgk-header.png);
    height: inherit;
    width: 100vw;
    position: absolute;
    background-position: center;
    background-size: cover;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-content-meet-the-team * {
    color: white;
}

.top-content-meet-the-team h4:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 20%;
    padding-top: 0.8rem;
    border-bottom: 1px solid white;
    opacity: 0.5;
}

.meet-the-team-section p {
    color: white;
    font-size: 0.765rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem
}

.meet-the-team-card-container {
    padding-top: 2.5rem;
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}

.meet-the-team-card {
    width: 200px;
    border: 1px solid lightgrey;
}

.meet-the-team-card img {
    max-width: 100%;
    object-fit: cover;
    padding-bottom: 1.5em;
}

.meet-the-team-card p {
    margin: 0.75em 0 1.5em 0;
    text-transform: uppercase;
}
